<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/3801426/pexels-photo-3801426.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            </div>
            <div class="col-md-8">
                <h1>Cadastro</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud e
                    xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    <a class="btn btn-outline-info"(click)="goCadastrar()">Cadastrar contatos</a>
                
            </div>
        </div>
    </div>
    
</div>

