.card{
    margin: 5%;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
.jumbotron{
    margin: 7%;
}
.botoes{
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.observacoes h5{
    text-align: center;
    margin-top: 10px;
}
